body {
    background-color: #f7f2ec;
    color: #492C24;
    font-family: Montserrat;
    margin: 40px;
    font-size: 42px

}
a:link {
    color: #492C24;
    font-style: italic;
}
a:visited {
    color: #aaa19f;
    font-style: italic;
}
a:hover {
    color: #492C24;
    text-decoration: underline;
}
a:active {
    color: black;
    opacity: 0.3;
}