body {
    background-color: #f7f2ec;
    color: #492C24;
    font-family: Montserrat;
    margin: 40px;
    font-size: 32px

}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: #492C24;
    font-style: italic;
}
a:visited {
    color: #aaa19f;
    font-style: italic;
}
a:hover {
    color: #492C24;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 2px solid #492C24;
    border-radius: 10px;
    width: 500px;
    margin: 20px auto; 
    padding: 10px;
    background-color: #f7f2ec;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
div.menu:hover {
    background-color: #f9edde;
    border-color: #492C24;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}